/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body, html{
    background: #fff;
    color: #707070;

} 
.noscroll{
   min-height: 100vh;
   overflow: hidden;
}
a, a:hover, button, button:hover{
   text-decoration: none;
   transition: .5s all;
}
li{
   list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
 font-family: 'Montserrat', sans-serif;
}
p{
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 28px;
   color: #707070;
   letter-spacing: .4px;
}
.btn-style{
   padding: 14px 30px;
font-weight: 600;
border-radius: 4px;
background: #fff;
border: none;
transition: all .25s ease-in-out;
}


 /*top header  */
 .study_top_header .top_header__content .top_header__item li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 2em;

 }
.top_header__item i{
    color: #fff;
 }
.top_header__item a{
    color: #fff;
    transition: all .5s;
 }
.top_header__item a:hover{
    color: #ff6e65;
    text-decoration: none;
 }
 .study_top_header{
    padding: 14px 15px;
 }

 .top_header__contact i{
    margin-right: 8px ;
 }
 .top_header__social i{
    transition: all .5s;

 }
 .top_header__social i:hover{
    color: #ff6e65;
 }
 /* header */
 header{
    background-color: transparent;
    padding: 0px;
    transition: all .4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
 }
 .fixed-top{
   position: sticky;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1000;
 }
 .nav-fixed{
   padding: 0;
   border-bottom: none;
   z-index: 999;
   background-color: #fff;
   box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
   height: 70px;
 }
 .navbar .navbar-brand{
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #0d369f;
    font-weight: 600;
 }

 a.navbar-brand:hover{
    color: #ff6e65;
 }
 .navbar-collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
 }
 .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,  .navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{
    color: #ff6e65;
 }
 .navbar-expand-lg .navbar-nav .nav-item{
    padding: 0 12px;
    transition: all .5s ease;
    position: relative;
 }
 .navbar-expand-lg .navbar-nav .nav-item .nav-link{
    transition: all .5s ease;
    padding: 6px 0;
    font-weight: 600;
    color: #060606;

 }

 .navbar form.search-box input{
    font-size: 15px;
    color: #060606;
    background: transparent;
    padding: 10px 35px 10px 14px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
    outline: none;
 }
 .navbar .search-box{
    display: flex;
    align-items: center;
 }
 .search-right .search-btn{
    position: absolute;
    color: #0d369f;
    right: 0;
    padding: 8px 12px 8px 2px;
 }
 .search-right button i{
    transition: all .5s;
 }
.search-right button i:hover{
    color: #ff6e65;
}
a.dropdown-item:hover {
   color: #ff6e65;
   background: none;
}






.header_switch_button .btn i{
   font-size: 22px;
   cursor: pointer;
}

.header_switch_button .btn .fa-moon{
   display: block;
   color: #0d369f;
   transition: all .5s;
}
.header_switch_button .btn .fa-moon:hover{
   color: #ff6e65 ;
}

.header_switch_button .btn .fa-sun{
   display: none;
}
.dark#myBody .header_switch_button .btn .fa-moon{
   display: none;
}
.dark#myBody .header_switch_button .btn .fa-sun{
   display: block;
   color: #4867b0;
   transition: all .5s;
}
.dark#myBody .header_switch_button .btn .fa-sun:hover{
   color: #ff6e65;
}
/* carousel */
.carousel__content{
   position: relative;
}
.study_carousel .banner-view{
   background: url(../img/banner2.jpeg) no-repeat top right;
   background-size: cover;
   position: relative;
   z-index: 0;
   display: grid;
   align-items: center;
   padding: 3em 0;
   min-height: 90vh;
}
.study_carousel .banner-top1{
   background: url(../img/banner3.jpeg) no-repeat center right;
   background-size: cover;
}
.banner-info-bg{
   max-width: 600px;
}
.banner-info-bg h5{
   font-size: 70px;
   line-height: 80px;
   font-weight: bold;
   color: #fff;
}
.btn-style{
   padding: 14px 30px;
   font-weight: 600;
   font-size: 16px;
   color: #060606;
   border-radius: 4px;
   background: #fff;
   border: none;
   transition: all .25s ease-in-out;
}
.owl-dots{
   position: absolute;
   right: 24px;
   bottom: 120px;
   background: none;
   margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span{
   width: 12px;
   height: 12px;
   margin: 5px 2px;
   background: #fff;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity .2s ease;
   border-radius: 30px;
   position: absolute;
}
.owl-dots button:nth-child(2) span{
   position: absolute;
   bottom: 5px;
}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6e65;
}





.banner-view::before{
   content: "";
   background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.btn-style:hover{
   background: #ff6e65;
   color: #fff;
}

/* carousel_bottom */
.study_carousel_bottom{
   position: relative;
   margin-top: -4em;
}
.study_carousel_bottom .area-box{
   padding: 50px 35px;
   position: relative;
   z-index: 1;
   border-radius: 8px;
   background-color: #fff;
}
.area-box.color-1{
   background-color: #037ef3;
}
.area-box.color-2{
   background-color: #ffc949;
}
.area-box.color-3{
   background-color: #ff4f81;
}
.area-box.color-4{
   background-color: #1ee697;
}

.area-box i{
   font-size: 45px;
   color: #fff;
}
.area-box h4 a{
   margin-top: 25px;
   display: block;
   color: #fff;
   font-weight: 600;
   font-size: 24px;
}

.area-box a:hover{
   color: #000;
}
/* welcome */
.title-heading{
   max-width: 700px;

}
h3.title-main{
   font-size: 40px;
   line-height: 50px;
   font-weight: 600;
   position: relative;
   color: #060606;
}
h3.title-main::before, h3.title-main::after{
   content: "";
   background: #707070;
   width: 60px;
   height: 2px;
   position: absolute;
   right: 0;
   margin: 0 auto;
}
h3.title-main::before{
   left: -20px;
   bottom: -8px;
}
h3.title-main::after{
   left: 20px;
   bottom: -15px;
}
h3.title-main span{
   color: #ff6e65;
}
.study_welcome .welcome__img i{
   color: #0d369f;
   font-size: 30px;
   background: #0D369F17;
   width: 70px;
   height: 70px;
   line-height: 70px;
   border-radius: 50%;
}
h3.welcome-title{
   font-size: 24px;
   line-height: 34px;
   font-weight: 600;
   color: #060606;
   transition: all .5s;
}
p.welcome-text{
   margin-top: 15px;
   font-size: 16px;
   line-height: 28px;
   color: #707070;
   letter-spacing: .4px;
}
.welcome__info a:hover h3{
   color: #ff6e65;
}
/* courses */
.study_courses{
    background: #f8f9ff;
}
.courses__card .card__img img{
   display: block;
   width: 100%;
   border-radius: 8px 8px 0 0;
}
.meta-list{
   position: absolute;
   left: 30px;
   top: 15px
}
.meta-list a{
   background: #1DC295;
   border-radius: 3px;
   font-size: 12px;
   font-weight: 600;
   padding: 4px 10px;
   color: #fff;
   text-transform: capitalize;
   display: inline-block;
   margin-right: 5px;
}
.meta-list a:nth-child(odd){
   background-color: #FFA100;
}
.meta-list a:nth-child(3){
   background-color: #037ef3 ;
}
.courses__price{
   position: absolute;
   right: 25px;
   bottom: -20px;
}
.courses__price h6{
   border-radius: 100px;
   font-size: 18px;
   font-weight: bold;
   text-align: center;
   background-color: #ff6e65;
   color: #fff;
   box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
   min-width: 70px;
   min-height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.courses__content{
   padding: 20px;
   border: 1px solid #eee;
   border-top: none;
   border-radius: 0 0 8px 8px;
   background: #fff;
}
.contennt__top ul li{
   color: #060606;

}
.content__top ul li i{
   color: #ff6e65;
}
.courses__content h4 a{
   color: #060606 ;
   font-size: 22px;
   margin-bottom: 10px;
   display: block;
   font-weight: 600;
}
.courses__content .content__bottom{
   border-top: 1px solid #eee;
}
ul.rating-list li{
   display: inline-block !important;
}
ul.rating-list li a{
   color: #ffc949;
   font-size: 15px;
}
.content__bottom a.btn-style-primary{
   
      color: #ff6e65;
      padding: 0;
      background: transparent;
      font-size: 14px;
   
}


.content__bottom a.btn-style-primary:hover{
   color: #0d369f;
   background: transparent;
}
.courses__btn .btn-style:hover, .courses__btn .btn-style-secondary{
   background: #ff6e65;
   color: #fff;
   transition: .3s ease-out;
}
.courses__btn .btn-style-secondary:hover{
   background: #0d369f;
   color: #fff;
   transition: .3s ease-out;
}

/* classes */
.classes__bg{
   background: url(../img/bg3.jpeg) no-repeat bottom;
   background-size: cover;
}
.class__content__item{
   background: #fff;
   padding: 30px;
   border-radius: 8px;
}
.class__content__item .classes__icon{
   margin-right: 1em;
}
.class__content__item .classes__icon i{

   color: #0d369f;
   font-size: 28px;
   background: #0D369F17 ;
   width: 65px;
   height: 66px;
   line-height: 65px;
   border-radius: 50%;
   text-align: center;
}
.class__content__item .classes__icon__info h5{
   font-size: 20px;
   line-height: 30px;
   color: #060606;
   font-weight: 600;
   margin-bottom: 6px;
}
/* number */
.counter__number{
   border-right: 1px solid #eee;

}
.count-number{
   font-size: 46px;
   font-weight: 600;
   color: #060606;
}
p.count-text{
   text-transform: uppercase;
   color: #060606;
}
/* feedback */
.feedback__content{
   background: #fff;
   border-radius: 4px;
   box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
   padding: 2rem;
}
p.feedback__text q::before{
   font-size: 50px;
   color: #ff6e65;
   font-family: initial;
   line-height: .8;
   padding-top: 8px;
   display: inline-block;
}
.feedback__footer{
   display: grid;
   grid-template-columns: .3fr 1fr;
   align-items: center;
   grid-gap:5px;
   margin-top: 1.5em;
}
.feedback__footer .feedback__img img{
   border-radius: 50%;
}
.feedback__footer .feedback__right h5{
   font-weight: 600;
   line-height: 16px;
   color: #060606;
   margin: 0;
   padding: 0;
}
.feedback__footer .feedback__right p{
   font-size: 13px;
   color: #707070;
}
/* Instructors */
.instructors__content{
   box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
   padding: 10px;
   background: #fff;
   border-radius: 8px;
}
.instructor__top{
   position: relative;
   overflow:hidden;
   z-index: 1;
}
.instructor__top a img{
   width: 100%;
   border-radius: 8px 8px 0 0;
}
.instructor__top .instructors__info{
   position: absolute;
   bottom: -227px;
   margin: 0;
   background: rgb(8 8 8 / 29%);
   padding: 20px 0;
   transition: .5s all;
   width: 100%;
   text-align: center;
}
.instructors__info .instructors__social a.socialNW{
   background: #fff;
   width: 28px;
   height: 28px;
   display: inline-block;
   border-radius: 50%;
   transition: all .5s;
 
}
.instructors__info .instructors__social a.socialNW:hover{
   opacity: .8;
}
.instructors__info .instructors__social a.socialNW span{
   color: #0d369f;
   font-size: 14px;
   line-height: 28px;
}
.instructors__content:hover .instructors__info{
   bottom: 0;
}
.instructors__content .instructor__bottom h5 a{
   transition: all .5s;
   color: #060606;
}
.instructors__content:hover .instructor__bottom h5 a{
   color: #ff6e65;
}

 /* contact */
 .contact__img img{
   border-radius: 8px;
 }
 .contact__text h3{
   font-size: 35px;
   font-weight: 600;
   line-height: 45px;
   color: #060606;
 }
 .contact__text a.btn{
   background: #ff6e65;
   color: #fff;
 }
 .contact__text a.btn:hover{
   background: #0d369f;
 }
/* footer */
.footer__wraper{
   padding: 80px 0;
   background: #060e1f;
}
.footer__top{
   padding: 50px;
   max-width: 1000px;
   margin: 0 auto;
   border-radius: 10px;
   background: #fff;
   position: absolute;
   left: 0;
   right: 0;
   top:-60px;
   box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer__top__left h4{
   font-size: 35px;
   line-height: 40px;
   color: #060606;
   font-weight: 600;
}
.footer__top__left p{
   font-size: 15px;
   color: #707070;
   letter-spacing: 1px;
}
.footer__top__right .rightside__form input{
   background: transparent;
   padding: 15px 20px;
   font-size: 16px;
   color: #060606;
   width: 100%;
   border-radius: 8px 0 0 8px;
   height: 55px;
   border: 1px solid #eee;
}
.rightside__form .btn{
   background-color: #0d369f;
   border: none;
   color: #fff;
   padding: 16px 30px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 0 8px 8px 0;
}
.rightside__form .btn:hover{
   opacity: .9;
}
.footer__bottom{
   margin-top: 120px;
}
.footer__bottom h6{
   color: #fff;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;
   margin-bottom: 20px;
   border-bottom: 1px solid rgba(23, 54, 88, 0.4);
   padding-bottom: 10px;
   font-weight: bold;
}
.footer__bottom ul li a{
   font-size: 14px;
   line-height: 24px;
   color: #cecece;
   margin: 0 0 10px 0;
   display: block;
}
.footer__bottom ul li span{
   margin-right: 10px;
   color: #fff;
}
.footer__contact span{
   font-size: 18px;
   color: #fff;
   vertical-align: middle;
   margin-right: 10px;
   width: 25px;
   text-align: center;
}
.footer__contact a{
   text-decoration: none;
   color: #cecece;
   line-height: 25px;
   font-size: 15px;
   font-weight: normal;
   font-style: normal;
}
.footer__contact .href2{
   margin-top: 10px;
   padding: 10px 0;
}
.footer__contact .href3 p{
font-size: 14px;
line-height: 24px;
color: #cecece;
margin-top: 10px;
}
.footer__item3{
   border-left: 1px solid rgb(64 73 82 / 51%);
}
.footer__social{
   margin-top: 1.2em;
}
.footer__social ul li{
   display: inline-block;
   margin-right: 5px;
}
.footer__social ul li a{
   color: #fff;
   width: 35px;
   height: 35px;
   background: rgba(255, 255, 255, 0.06);
   display: inline-block;
   border-radius: 50%;
   text-align: center;
   transition: .3s ease;
}
.footer__social ul li a span{
   font-size: 15px;
   line-height: 35px;
   margin: 0;
}
.footer__bottom .footer__item1 li a:hover,.footer__bottom .footer__item2  a:hover{
   color: #fff;
}
.footer__social ul li a:hover{
   opacity: .8;
}
.footer__item3 p{
   font-size: 14px;
   line-height: 24px;
   color: #cecece;
}
.footer__copyright{
   background: #040a17;
   padding: 20px 0;
}
.footer__copyright p{
   font-size: 15px;
   line-height: 20px;
   color: #a0a0a0;
}
.footer__copyright p span a{
   font-size: 15px;
   line-height: 20px;
   color: #a0a0a0; 
}
/* backtotop */
.backToTop{
   position: fixed;
   bottom: 90px;
   right: 15px;
   z-index: 9;
   font-size: 16px;
   border: none;
   outline: none;
   color: #fff;
   width: 40px;
   height: 40px;
   background: #0d369f;
   border-radius: 4px;
   padding: 0;
   text-align: center;
   line-height: 40px;
   visibility: hidden;
   opacity: 0;
}
.backToTop:hover{
   opacity: .8;
}
.backToTop i{
   font-size: 15px;
}
.cd-top--is-visible { 
   visibility: visible;
   opacity: 1;
 }
 /* dark-theme */
 
 /*header  */
 
.dark#myBody header{
   background-color: #182035;

}
.dark#myBody .navbar .navbar-brand{
   color: #fff;
}
.dark#myBody .navbar .navbar-brand:hover{
   color: #ff6e65;
}
.dark#myBody .navbar-expand-lg .navbar-nav .nav-item .nav-link {
   color: #fff;
}
.dark#myBody .navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .dark#myBody .navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{
   color: #ff6e65;
}
.dark#myBody .dropdown-menu{
   background: #182035;
}
.dark#myBody .dropdown-item{
   color: #fff;
}
.dark#myBody .dropdown-item:hover{
   color: #ff6e65;
}
.dark#myBody .navbar form.search-box input::placeholder{
   color: #fff;
   
}
.dark#myBody .navbar form.search-box input {
   color: #fff;
}


/* carousel */
.dark#myBody .study_carousel_bottom{
   background: #182035;
}
/* welcome */
.dark#myBody .study_welcome{
   background: #182035;
}
.dark#myBody h3.title-main{
   color: #fff;
}
.dark#myBody .study_welcome .welcome__img i{
   color: #4867b0;
   background: rgb(168 176 196 / 11%);
}
.dark#myBody h3.welcome-title{
   color: #fff;
}
.dark#myBody h3.welcome-text{
   color: #b7b7b7;
}
/* Courses */
.dark#myBody .study_courses{
   background: #161c2d;
}
.dark#myBody .courses__content{
   background: #161c2d;
}
.dark#myBody .courses__content h4 a{
   color: #fff;
}
.dark#myBody .courses__content .content__bottom{
   border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.dark#myBody .content__top li{
   color: #fff;
}
.dark#myBody .courses__content{
   border: 1px solid rgba(255, 255, 255, 0.2);
}
/* classes */
.dark#myBody .class__content__item{
   background: #161c2d;
}
.dark#myBody .class__content__item .classes__icon__info h5{
   color: #fff;
}
.dark#myBody .class__content__item .classes__icon i{
   color: #4867b0;
   background: rgb(13 53 159 / 9%);
}
.dark#myBody p{
   color: #b7b7b7;
}
/* number */
.dark#myBody .number{
   background: #182035;
}
.dark#myBody .count-number{
   color: #fff;
}
.dark#myBody .count-text{
   color: #fff;
}
/* feedback */
.dark#myBody .feedback{
   background: #182035;
}
.dark#myBody .feedback__content{
   background: #161c2d;
   box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
}
.dark#myBody .feedback__footer .feedback__right h5{
   color: #fff;
}
.dark#myBody .instructors{
   background: #182035 ;
}
.dark#myBody .instructors__content{
   background: #161c2d;
   box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1) ;

}
.dark#myBody .instructors__content .instructor__bottom h5 a{
   color: #fdfffc;
   transition: all .5s;
}
.dark#myBody .instructors__content .instructor__bottom h5 a:hover{
   color: #ff6e65;
}
/* contact */
.dark#myBody .contact{
   background: #182035;

}
.dark#myBody .contact__text h3{
   color: #fdfffc;
}
/* footer */
.dark#myBody footer{
   background: #182035;
}
.dark#myBody .footer__top{
   background: #182035;
}
body.dark#myBody{
   background: #182035;
}

.dark#myBody .footer__top__left h4{
   color: #fdfffc;
}
.dark#myBody .footer__top__right .rightside__form input{
   border: 1px solid rgba(255, 255, 255, 0.2);
}







/* Responsive */
@media screen and (max-width:1200px) {
   .item .banner-info .banner-info-bg h5{
      font-size: 57px;
      line-height: 67px;
   }
   
}

@media screen and (max-width: 991px){
   header{
      height: auto;
      background: #fff;
   }
   .nav-fixed{
      height: auto;
      padding: 0;
   }
   .study_top_header{
      display: none;
   }
   .item .banner-info .banner-info-bg h5{
      font-size: 50x;
      line-height: 60px;
   }
   .navbar-toggler-icon{
      background-image: none;
      padding: 0;
      width: 34px;
      height: 34px;
      display: inline-block;
      background: #272121;
      border-radius: 4px;
      text-align: center;
   }
   .navbar-toggler-icon.fa{
      font-size: 20px;
      line-height: 1.2em;
      color: #fff;
      background-color: #0d369f;
      line-height: 34px;
   }
   button.navbar-toggler .icon-close{
      display: none;
   }
   button.navbar-toggler .icon-expand{
      display: block;
   }
   button.switch-toggle .icon-close{
      display: block;
   } 
   button.switch-toggle .icon-expand{
      display: none;
   }
   
   .navbar-nav{
      float: left;
      text-align: center;
      width: 100%;
      background: #fff ;
      padding: 20px;
      margin-top: 16px;
      box-shadow: 0 6px 19px rgb(0 0 0 / 5%);
   }
   .dark#myBody .navbar-nav{
      background: #182035;
   }
   .dark#myBody .navbar-nav:last-child{
      border: 1px solid rgba(255, 255, 255, 0.2)
   }

   .navbar-nav:last-child{
      border: 1px solid transparent;
   }
   .navbar-expand-lg .navbar-nav .nav-item{
      padding: 8px 0;
   }
   .navbar-expand-lg .navbar-nav .nav-item .nav-link {
      padding: 2px 10px;
      text-align: center;
      font-size: 15px;
   }
   .header__{
      position: absolute;
      right: 40px;
      top: 20px
   }
   .fixed-top{
      position: fixed;
   }
   .navbar, header.nav-fixed nav.navbar.navbar-expand-lg.stroke {padding: 0.5rem 0rem;}
   .navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{
      color: #0d369f;
   }
   .navbar-toggler{
      padding: 0rem 0rem !important;
      border: 0 none;
      font-size: 24px;
   }
  
}
@media screen and (max-width:767.98px) {
   .item .banner-info .banner-info-bg h5{
      font-size: 45px;
      line-height: 55px;
   }
   .footer__bottom{
      margin-top: 150px;
   }
   
}